.playerListWrapper {
  width: 90%;
  margin: 24px auto;
  background-color: var(--table-bg);
  backdrop-filter: blur(12px);
  border-radius: var(--table-radius);
  box-shadow: var(--table-shadow);
  overflow: hidden;
}

.playerListTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0px; 
  font-size: 14px;
  color: var(--table-text);
}

.playerListTable thead {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--table-header-text);
  font-weight: 600;
}


.playerListTable th,
.playerListTable td {
  padding: 12px 16px;
  text-align: left;
}

.playerListTable tbody tr {
  cursor: pointer;
  border-radius: 24px; 
  background-color: var(--white);
}

.playerListTable tbody tr:hover {
  background-color: var(--table-hover);    
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 16px var(--table-hover-shadow); 
}

